@import url('http://fonts.cdnfonts.com/css/caligna-demo');
*{
    margin: 0;
    padding: 0;
    font-family: 'Caligna DEMO', sans-serif;
    color: #f0f8ff;
    box-sizing: border-box;
    font-size: 100%;
}
html, body{
    background: #121212;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style-type: disc;
}
h6{
    font-weight: 400;
}
h5{
    font-weight: 500;
}
h1{
    font-weight: 500;
}
p{
    font-weight: 400;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #71A9D4;;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7cb9e8;
}
.side-bar{
 background: rgba(0, 0, 0, 1);
 backdrop-filter: blur(15px);
 width: 195px;
 height: 100%;
 max-height: 1900px;
 position: fixed;
 top: 0;
 overflow-y: hidden;
 transition: 0.6s ease;
 transition-property: left;
 z-index: 999;
 border-right: 1px solid #7cb9e8;
 box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
@media screen and (max-width: 1050px){
.side-bar{
 display: none;
    }
}
.side-bar::-webkit-scrollbar {
  width: 0px;
}

.side-bar .active{
 left: 0;
}
.side-bar header{
    line-height: 100px;
  background: rgba(0, 0, 0, 1);

}
.side-bar img{
  width: 100%;
  max-width: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
  /*border-radius: 50%;
  margin-left: 70px;
  border: 3px solid #b4b8b9;*/
}
.side-bar h1{
  text-align: center;
 font-weight: 500;
 font-size: 25px;
  padding-bottom: 13px;
  letter-spacing: 2px;
}
.menu{
    background: transparent;
    height: 100vh;
    padding: 30px;
    z-index: 5;
}
.menu li{
    color: #bf7c94;
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
    transition: all 0.4s ease;
    margin-bottom: 10%;
    margin-top: auto;
    background: transparent;
    justify-content: center;
    align-content: center;

}
.menu li{
  height: auto;
  max-width: 100%;
}
.side-bar ul li a.active,
.side-bar ul li a:hover{
  border-bottom: 1px solid linear-gradient(45deg, #7CB9E8  0%, #111 56%, #7CB9E8 100%, #7CB9E8  0%, 
      #16507b 56%, #7CB9E8 100%, #7CB9E8  0%, #111 56%, #7CB9E8 100%);   
}
.side-bar li :active:after {
    background: #124062;
    }
.menu li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: #F0F8FF;
    letter-spacing: 0.1rem;
    display: flex;
    padding-bottom: 0px;
    height: 50px;
    margin: 0p ;
    width: 135px;
    text-transform: capitalize;
    transition: .5 ease;
    justify-content: center;
    align-items: center;
    text-align: right;
}
@media screen and (orientation: landscape) and (min-width:1024px) and (max-width:1368px){
     .menu li a {
 font-size: 1rem;
     letter-spacing: 0.01rem;
     }
}
.menu .item40 a .dropdown{
    color: #F0F8FF;
    position: relative;
    right: 30px;
    transition: 0.3s ease;
}
.menu .item40 .sub-menu{
    background: transparent;
    display: none;
}
.menu .item40 .sub-menu a{
 padding: 10%;
    font-size: 1.3rem;
    margin: auto;
    top: 0;

}
.menu .item40 .sub-menu2 a{
    padding: 10%;
 font-size: 1.2rem;
    margin: auto;
    top: 0;
}
.rotate{
    transform: rotate(90deg);
}
.menu ul ul{
    position: absolute;
    top: 0;
 right: 0;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    background: none;
    cursor: pointer;
    box-shadow: none;
}
.menu ul span{
    position: absolute;
    right: 20px;
    font-size: 1.5em;
}
.menu ul .dropdown{
 position: relative;
}
.menu ul .dropdown:hover ul{
    display: initial;
}
.side-bar li :before {
    content: '';
    background: #7CB9E8;
    background: -moz-linear-gradient(left, #7CB9E8 0%, #111111 90%, #6393B9 100%);
    background: -webkit-linear-gradient(left, #7CB9E8 0%, #111111 90%, #6393B9 100%);
    position: absolute;
    top: -2px;
    left:-2px;
 background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
   transition: opacity .3s ease-in-out;
}
.side-bar li :active {
    color: #000;
}
.side-bar li :active:after {
    background: transparent;
}
.side-bar li a:hover:before { 
    opacity: .9;
}
.side-bar li:after {
    z-index: -1;
 content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 4px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* Mobile navigation menu */
.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  max-width: 100%;
  padding: auto;
  margin: auto;
  display: inline-block;
  justify-content: space-between;

}
@media screen and (min-width: 1050px){
.topnav{
   display: none;
    }
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
color: #F0F8FF;
  padding: 17px 16px;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  display: block;
  float: none;
  font-weight: 400;
}
.topnav a li{
  height: 1500px;
}
/* Style the hamburger menu */
.topnav a.icon {
    color: #7cb9e8;
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
}
.topnav a img{
  top: 0%;
  float: ;
  max-width: 110px;
  position: absolute;
  left: 43%;
  margin: auto;
  content: "";
  background: transparent;
}
@media screen and (max-width: 530px){
.topnav a img{
   left: 39%;
    }
}
@media screen and (max-width: 420px){
.topnav a img{
   left: 35%;
    }
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: black;
}

/* Style the active link (or home/logo) */
.topnav .active {
  background-color: black;
  color: white;
}
@media screen and (min-width: 1050px){
.topnav .active{
   display: none;
    }
}
.topnav a .dropdown{
    color: #F0F8FF;
    position: relative;
    left: 5px;
    transition: 0.3s ease;
}
.topnav .sub-menu{
    display: none;
    position: relative;
    
}
.topnav .sub-menu a{
padding: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: auto;
    top: 0;
    margin-left: 15px;
}
.container{
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(80, auto-fill);
    /*grid-gap: 10px 10px;*/
    scroll-snap-type: y mandatory;
    margin-left: 100px;
}
.item{
    background-color: transparent;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.09rem;
    padding: 10px 10px;
    line-height: 1.5;
    /*border-radius: 5px;*/
    color: #fff;
    scroll-snap-align: start;
    overflow-x: hidden;
    font-family: 'Caligna DEMO', sans-serif;
}
 .item-1{
    grid-column: 3 / 7;
    grid-row: 1 / 1;
    background-color: black;
    z-index: 100;
}
 .item-2{
    grid-column: 3 / 7;
    grid-row: 2 / 5;
    background-color: black;
}
 .item-3{
    grid-column: 1 / 3;
    grid-row: 1 / 30;
    margin-right: 80px;
}
 .item-4{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background-color: rgba(0, 0, 0, 1);
   

}
.item-5{
    grid-column: 4 / 6;
    grid-row: 5 / 6;
    background-color: rgba(0, 0, 0, 1);
   
}
 .item-6{
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    background-color: rgba(0, 0, 0, 1);
    
    padding-bottom: 20px;
}
 .item-7{
    grid-column: 3 / 7;
    grid-row: 6 / 8;
    background-color: #140900;
   
}
 /*.item-8{
    grid-column: 4 / 4;
    grid-row: 6 / 6;
    background-color: green;
    height: 270px;
    overflow: hidden;
    display: none;
}*/
 .item-9{
    grid-column: 5 / 6;
    grid-row: 6 / 10;
    background: red;
background: -moz-linear-gradient(45deg, #1D0D00 0%, #251100 39%, #431F00 100%);
background: -webkit-linear-gradient(45deg, #1D0D00 0%, #251100 39%, #431F00 100%);
background: linear-gradient(45deg, #1D0D00 0%, #251100 39%, #431F00 100%);
    height: 270px;
}
 .item-10{
    grid-column: 5 / 7;
    grid-row: 6 / 6;
    background-color: rgba(0, 0, 0, 1);
    height: 270px;
}
 .item-11{
    grid-column: 6 / 7;
    grid-row: 6 / 6;
    background-color: rgba(0, 0, 0, 1);
    height: 270px;
}
.item-0{
    grid-column: 3 / 7;
    grid-row: 8 / 10;
    background-color: rgba(0, 0, 0, 1);
    height: 890px;
    overflow: hidden;
    margin-top: 15px;
}
.item-01{
    grid-column: 3 / 7;
    grid-row: 11 / 13;
    background-color: rgba(0, 0, 0, 1);
}
 .item-12{
    grid-column: 3 / 7;
    grid-row: 13 / 15;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 1px;
}
.item-13{
    grid-column: 3 / 7;
    grid-row: 15 / 16;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 1px;
}
/*.item-14{
    grid-column: 3 / 7;
    grid-row: 15 / 16;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;

}
.item-15{
    grid-column: 3 / 7;
    grid-row: 16 / 16;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    height: 400px;
}*/
.item-16{
    grid-column: 3 / 7;
    grid-row: 16 / 20;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 15px;
    margin-bottom: 1px;
}
.item-17{
    grid-column: 3 / 7;
    grid-row: 20 / 34;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 15px;

}
.item-18{
    grid-column: 3 / 7;
    grid-row: 34 / 41;
    background-color: rgba(0, 0, 0, 1);
}
.item-19{
    grid-column: 3 / 7;
    grid-row: 41 / 43;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 15px;
    overflow: hidden;
}
.item-20{
    grid-column: 3 / 7;
    grid-row: 43 / 50;
    background-color: rgba(0, 0, 0, 1);
}
.item-21{
    grid-column: 3 / 7;
    grid-row: 50 / 53;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    margin-top: 15px;
}
.item-22{
    grid-column: 3 / 7;
    grid-row: 53 / 55;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 1px;
}
.item-23{
    grid-column: 3 / 7;
    grid-row: 55 / 63;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 1px;
    margin-bottom: 15px;
}
.item-24{
    grid-column: 3 / 7;
    grid-row: 63 / 68;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 0px;
    overflow-y: auto;
}
.item-25{
    grid-column: 3 / 7;
    grid-row: 68 / 73;
    background-color: rgba(0, 0, 0, 1);
    background-image: url("");
    background-size: 70%;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.item-25::after{
content: '';
position: absolute;
z-index: -1;
inset: 0;
background: rgba(0, 0, 0, 1);
opacity: .8;

 }

.item-26{
    grid-column: 3 / 7;
    grid-row: 73 / 85;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 15px;
}
.item-27{
    grid-column: 3 / 7;
    grid-row: 85 / 86;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 0px;
}
.item-28{
    grid-column: 3 / 7;
    grid-row: 86 / 96;
    background-color: rgba(0, 0, 0, 1);
}
/* For Responsive Device */
@media screen and (max-width: 1050px){
    .container{
        display: block;
        margin-left: 0;
    }
.item{
        height: auto;
        margin-bottom: 0;
        overflow: hidden;
        margin-left: 0;
    }     
.item-1 .item-title  h1{
    writing-mode: horizontal-tb;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
    display:flex;
    text-align: center;
    height: 50px;

}
.item-1{
    margin-top: 50px;
        width: 100%;
        max-width: 100%;
        background: black;
    }
.item-3{
        display: none;
    }
.item-4{
    margin-bottom: 1px;
    }  
.item-0{
        margin-top: 15px;

    }  
.item-01{
        margin-top: 0px;
        background-color: rgba(0, 0, 0, 0.8);
    }  
.item-5{
        display: none;
    }
 .item-7{
        margin-top: 0px;
    }   
.item-10{
        display: none;
    }
.item-12{
        
    } 
.item-16{
     margin-top: 15px;
     margin-bottom: 1px;
    }     
 .item-18{
        margin-top: 15px;
    } 
    .item-20{
    margin-top: 15px;
    }       
  .item-21{
   
    } 
    .item-24{
    margin-top: 15px;

    }             
.item-25{
        margin-top: 15px;
        margin-bottom: 15px;
    }
.item-26{
        margin-bottom: 15px;
    }
.item-27{
        margin-bottom: 0px;

    }    
} 
/* FACE SECTION item-1 till item-11*/
.item-title{
    position: relative;
   
    width: 100%;
    
    justify-content: center;
    align-items: center;
    background: transparent;
   
    
}  
@media screen and (max-width: 1050px){
 .item-title{
        max-width: 100%;
    }
} 
.item-title h1{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; 
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 0.02em;
    color: #FF7500;
    border: 1px solid #FF7500;
    
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}  
.item-2{
    display: block;
    width: 100%;
    margin-left: 0px;
    background-image: url('img/sp-strip.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.item-2::after{
 content: '';
 position: absolute;
 z-index: -1;
 inset: 0;
 background: rgba(0, 0, 0, 0.9);
 opacity: .7;
}

.item-2 img{
    width: 100%;
}
.item-circle-box{
   width: 200px;
   margin: auto;
   
   background: rgba(0, 0, 0, 0.8); 
   position: relative;
   justify-content: center;
   align-items: center;
   border-radius: 50%; 
   background-image: url('img/wl.png');
   background-size: 200%;
   background-repeat: no-repeat;
   background-position: center;
   overflow: hidden;
   box-shadow: 0px 0px 8px #FF7500;
   z-index: 10;
}
@media screen and (max-width: 1050px) {
.item-circle-box{
    display: none;
    } 
}
.item-circle-box:after{
    content: "";
    padding-bottom: 100%;
    display: block;
}
.item-lbox{
   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    background: transparent;
    justify-content: center;
    align-content: center;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-image-source: radial-gradient(circle at bottom left, #FF7500, transparent 70%);
    border-image-slice: 1;
    overflow: hidden;


}
@media screen and (max-width: 1050px) {
.item-lbox{
    border: none;
    } 
}
.item-lbox h1{
    


     font-size: 1.4rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
    position: relative;
    text-align: left;
    justify-content: center;
    align-content: center;
    display: block;
    text-decoration: none;
    background: linear-gradient(to right, #401D00 2%, transparent 12%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
    
}
.item-lbox p{
    font-size: 1.3rem;
    
    position: relative;
    align-content: center;
    text-align: left;
    justify-content: center;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.item-rbox1{
    width: 100%;
    padding: 10px;
    top: 0;
    bottom: 0;
    position: relative;
    background: transparent; 
    border-top: 2px solid;
    border-right: 2px solid;
    border-image-source: radial-gradient(circle at top right, #FF7500, transparent 70%);
    border-image-slice: 1;
}
@media screen and (max-width: 1050px){
.item-rbox1 {
    border: none;
     }
} 
.item-rbox1 h1 {
    font-size: 1.4rem;
    position: relative;
    margin: auto;
    align-content: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    float: rigt;
    text-decoration: none;
    background: linear-gradient(to right, #401D00 2%, transparent 30%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
}

.item-rbox1 p {
    font-size: 1.3rem;
    font-weight: 400;
    margin: auto;
    position: relative;
    align-content: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: right;
    z-index: 99;
}
.item-rbox2{
    top: 0;
    bottom: 0;
    padding: 10px;
    position: relative;
    /*border-top: 10px dashed #1C6EA4;
    border-bottom: 10px dashed #1C6EA4;*/
    background: transparent;
    z-index: 99;
    overflow: hidden;
}
@media screen and (max-width: 1050px){
.item-rbox2{
    
    background: transparent;
     }
}
.item-rbox2 h1 {
    font-size: 1.4rem;
    position: relative;
    margin: auto;
    align-content: center;
    text-align: left;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    text-decoration: none;
    background: linear-gradient(to right, #401D00 2%, transparent 20%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
} 
.item-rbox2 ul {
    font-size: 1.3rem;
    margin: auto;
    font-weight: 400;
    position: relative;
    align-content: center;
    text-align: left;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    list-style-position: inside;
    text-align: right;
    float: right;
}
.item-rbox2 ul li {
  display: inline;
  margin-inline-end: 1em;
  text-align: left;
  float: left;

}
 .item-ac-box1{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    padding: 10px;
    justify-content: center;
    align-content: center;
    background: transparent;
    text-align: justify;
    line-height: 35px;
    -webkit-columns: 300px 3;
    -moz-columns:  300px 3;
    columns: 300px 4;
    -webkit-colummn-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 100px;
    display: block;
    float: right;
}
.item-ac-box1 h1{
    font-size: 1.4rem;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, #401D00 2%, transparent 40%);  
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
}
.item-ac-box1 p{
    font-size: 1.2rem;
    justify-content: center;
    align-content: center;
}

/* END FACE SECTION item-1 till item-11*/

/* IDEA SECTION item-0 & item-01*/
.item-0 .item-content-I{
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: ;
  align-items: center;
  display: flex;
  justify-content: center;
}
.grid{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.items{ 
  border: 1px solid #ff7500;
  background-color: black;
  justify-content: center;
  display: inline-block;
  align-items: center;
  height: auto;
  position: relative;
  text-align: left;
  }
.items img{ 
  width: 100%;
  object-fit: cover;
}
.items h6{
  font-size: 1.2rem;
  letter-spacing: 0.09;
  padding: 1% 5%;
  width: 40%;
  color: #f0f8ff;
  background: black;
  height: auto;
  text-decoration: none;
  position: absolute;
  vertical-align: middle;
  border-radius: 0px 60px 0px 0px;
  bottom: 0;
  padding: 10px;
  mix-blend-mode:;
}
.items h6::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #ff7500;
    mix-blend-mode: overlay;
}

@media all and (min-width: 670px){
  .item-0 .item-content-I{
    width: 100%;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
  }
}

@media all and (min-width: 900px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.item-01 .item-text-I{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    background: #140900;
    overflow: hidden;
}

.item-01 .item-text-I h1{
    font-weight: 400;
    font-size: 2rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #401D00 2%, transparent 20%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
}
.item-01 .item-text-I h5{
    font-weight: 400;
    font-size: 1.7rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #401D00 2%, transparent 30%);  
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
}
.item-01 .item-text-I p{
    font-size: 1.4rem;
    padding: 15px;
    text-align: left; 
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: block;
    color: #f0f8ff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative;
}
/* END IDEA SECTION item-0 & item-01*/

/* REFERENCE SECTION item-12*/
.item-12 img{
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: block;
    object-fit: cover;
    position: relative;
}
.item-13 .item-text{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    background: #140900;
    overflow: hidden;
}
.item-13 .item-text h5{
    font-size: 1.7rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #401D00 2%, transparent 35%);  
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
}
.item-13 .item-text p{
    font-size: 1.4rem;
    padding: 15px;
    text-align: left; 
    justify-content: center;
    align-items: center;
    display: block;
    color: #f0f8ff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative;
}
/*VIDEO SECTION item-16*/ 
 .item-16 .video{
    width: 100%;
 }
 .item-16 .item-c-video{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    margin-top: 80px;
    width: 100%;
    max-width: 1100px;
    justify-content: center;
}
.item-16 .item-v-caption{
   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    background: #140900;
  }
.item-16 .item-v-caption h1{
    font-size: 2rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #401D00 2%, transparent 35%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
    }
.item-16 .item-v-caption p{
    font-size: 1.4rem;
    padding: 15px;
    background: #140900;
    text-align: left; 
    justify-content: center;
    align-items: center;
    display: block;
    color: #f0f8ff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative;
}
/* END VIDEO SECTION item-16*/ 

/* BODY DEVELOPMENT SECTION item-16*/ 
.item-17 .content-BD {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
   font-weight: 400;
   
}
.item-17 .content-BD img{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-17 .content-BD h6{
    font-size: 1.3rem;
    padding: 15px;
    font-weight: 400;
}
.item-17 .content-BD p{
    background: #140900;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}

/*tail*/
.item-17 .content-BD2 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD2 img{
    width: 100%;
    max-width: 300px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-17 .content-BD2 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD2 p{
    background: #140900;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    padding: 15px;
}
/* end tail*/

/* head*/
.item-17 .content-BD3 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD3 img{
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-17 .content-BD3 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD3 p{
    background: #140900;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    padding: 15px;
}
/* end head*/


/* legs*/
.item-17 .content-BD4 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD4 img{
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-17 .content-BD4 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD4 p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 400;
    padding: 15px;
}
/* end legs*/

/* feet*/
.item-17 .content-BD5 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD5 img{
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}

.item-17 .content-BD5 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD5 p{
    background: #140900;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    padding: 15px;
}
/* end feet*/

/* nails*/
.item-17 .content-BD6 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD6 img{
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8)); 
}
.item-17 .content-BD6 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD6 p{
    background: #140900;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    padding: 15px;
}
/* end nails*/


/* flipper*/
.item-17 .content-BD7 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD7 img{
    width: 100%;
    max-width: 300px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-17 .content-BD7 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD7 p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 400;
    padding: 15px;
}
/* end flipper*/


/* eyes*/
.item-17 .content-BD8 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD8 img{
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-17 .content-BD8 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD8 p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/* end eyes*/


/* beak*/
.item-17 .content-BD9 {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-17 .content-BD9 img{
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background:  hsl(27,100%,3.9%);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-17 .content-BD9 h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 15px;
 /*background: hsl(43, 84%, 6%);*/
}
.item-17 .content-BD9 p{
    background: #140900;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    padding: 15px;
}
/* end beak*/
/* END BODY Development SECTION item-17*/ 

/* LOW POLY TO HIGH SECTION item-18 item-19*/ 
.item-18 .content-hp {
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  display: block;
  justify-content: center;
  
}
.item-18 .content-hp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}
@media screen and (max-width: 1700px) {
   .item-18 .content-hp{
    display: block;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
} 
.item-18 .content-hp .items-hp img{
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1700px) {
   .item-18 .content-hp .items-hp img{
    width: 100%;
    max-width: 700px;
    align-items: center;
    justify-content: center;
 }
} 
.item-18 .content-hp .items-hp{
   border: 1px solid #ff7500;
  background-color: black;
  justify-content: center;
  display: inline-block;
  align-items: center;
  position: relative;
  text-align: left;
z-index: 100;
}
@media screen and (max-width: 1700px) {
   .item-18 .content-hp .items-hp{
    margin: 10px;
 }
} 
.item-18 .items-hp h6{
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.09;
  padding: 1% 5%;
  width: 100%;
  color: #f0f8ff;
  background: #140900;
  text-decoration: none;
  position: absolute;
  vertical-align: middle;
  /*border-radius: 0px 60px 0px 0px;*/
  bottom: 0;
  padding: 10px;
  mix-blend-mode:;
}
.item-18 .items-hp h6::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #ff7500;
    mix-blend-mode: multiply;
}

/*text*/
.item-19 .item-content-hp2 {
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    overflow: hidden;
    background: #140900;
}
.item-19 .item-content-hp2 h1{
     font-size: 2rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #401D00 2%, transparent 20%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;

}
.item-19 .item-content-hp2 p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;  
}
/* END HIGH POLY TO LOW SECTION item-18 item-19*/


/*STYLIZED CHARACTER SECTION ITEM-20*/
   /*HAIR */
.item-20 .item-content-SCH {
   position: relative;
   background: rgba(0, 0, 0, 0.2);
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-20 .item-content-SCH video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
    
}
.item-20 .item-content-SCH h1{
    font-size: 2rem;
    font-weight: 500;
    padding: 15px;
    background: linear-gradient(to right, #401D00 2%, transparent 20%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
}
.item-20 .item-content-SCH h5{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 15px;
}
.item-20 .item-content-SCH p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}

/*JACKET*/
.item-20 .item-content-SCJ {
   position: relative;
   background: rgba(0, 0, 0, 0.2);
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-20 .item-content-SCJ video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
}
.item-20 .item-content-SCJ h5{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 15px;
}
.item-20 .item-content-SCJ p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
   /*GOGGLES*/
.item-20 .item-content-SCG {
   position: relative;
   background: rgba(0, 0, 0, 0.2);
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-20 .item-content-SCG video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-20 .item-content-SCG h5{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 15px;
}
.item-20 .item-content-SCG p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/* END STYLISED CHARACTER SECTION ITEM-20*/


/*TEXTURING SECTION item-21 item-22*/
.item-21 .item-background-image{
    width: 100%;
    position: relative;
    display: inline-block;
    background: repeating-linear-gradient(
        135deg, transparent 40%, #ff7500 25%, hsl(45, 88%, 10%) 20%, hsl(45, 88%, 10%) 40%, #ff7500 0%, #0d74f5 50%, #9b3acb 30%, #2de71e 10%, #ff7500 10%,transparent 55%, transparent 100%);
    /*background-color: #7c7c94;*/
    background-position: center ;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    justify-content: center;
    align-items: center;
    overflow: hidden;

 }
 .item-21 .item-background-image img{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
 }
.item-21 .item-background-image::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #a3ffc7;
    mix-blend-mode: multiply;
}
.item-21 .item-background-text h2{
    font-size: 9.5cqi;
    color: #FF7500;
    text-align: center;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    mix-blend-mode: luminosity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
@media screen and (max-width: 1050px) {
   .item-21 .item-background-text h2{
    font-size: 1.1em;
    background: transparent;
    margin: auto;
    padding: 10px;
  }
}
.item-22 .item-text-t{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    background:  #140900;
    overflow: hidden;
}
.item-22 .item-text-t h1{
    font-size: 2rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #401D00 2%, transparent 35%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
    }
.item-22 .item-text-t p{
    font-size: 1.4rem;
    padding: 15px;
    background: #140900;
    text-align: left; 
    justify-content: center;
    align-items: center;
    display: block;
    color: #f0f8ff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative;
}

/*body*/
.item-23 .item-content-b {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   
   overflow: hidden;
   margin: 20px auto 20px;

}
.item-23 .item-content-b img{
    width: 100%;
    max-width: 900px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: rgb(20, 9, 7);

   filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-23 .item-content-b h6{
   font-size: 1.7rem;
    padding: 15px;
}
.item-23 .item-content-b p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/*jacket*/
.item-23 .item-content-j {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-23 .item-content-j video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
   
}
.item-23 .item-content-j h6{
    font-size: 1.7rem;
    padding: 15px;
}
.item-23 .item-content-j p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}

/*goggles*/
.item-23 .item-content-g {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-23 .item-content-g video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-23 .item-content-g h6{
    font-size: 1.7rem;
    padding: 15px;
}
.item-23 .item-content-g p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/*hair & eyelashes*/
.item-23 .item-content-he {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-23 .item-content-he video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-23 .item-content-he h6{
    font-size: 1.7rem;
    padding: 15px;
}
.item-23 .item-content-he {
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/* END TEXTURING SECTION item-21 item-22 item-23*/



/* SCENE CREATION SECTION ITEM-24*/
.item-24 .item-content-psc {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: #140900;
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-24 .item-content-psc img{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
 filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-24 .item-content-psc h1{
    font-size: 2rem;
    padding: 15px;
    background: linear-gradient(to right, #401D00 2%, transparent 20%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
}
.item-24 .item-content-psc p{
    background: rgb(20, 9, 4);
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}

/* END SCENE CREATION SECTION ITEM-24*/

/* FINAL RENDER SECTION ITEM-25*/
.item-25 .item-content-FR{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 1600px;
    height: 800px;
    background: transparent;
    overflow: hidden;
}
.item-25 .item-content-FR img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-25 .item-text-FR{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    background: #140900;
    
  }
.item-25 .item-text-FR h1{
    
    font-size: 2rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    background: linear-gradient(to right, #401d00 2%, transparent 15%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
    }
    .item-25 .item-text-FR p{
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/* END FINAL RENDER SECTION ITEM-25*/

/*ASSETS RENDER SECTION ITEM-26*/
.item-26 .item-content-ass {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0,6);
  align-items: center;
  display: block;
  justify-content: center;
  background: black;
}
/*.item-26 .content-ass {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}*/
@media screen and (max-width: 1024px) {
   .item-26 .item-content-ass{
    display: block;
   }
} 
.item-26 .item-box-ass{
   border: 0.5px solid #ff7500;
  justify-content: center;
  display: block;
  align-items: center;
  height: auto;
  text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    background: transparent;
    margin-bottom: 20px;
}
.item-26 .item-box-ass p{
   font-size: 1.4rem;
   text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #140900;
    display: inherit;
    position: relative;
}
.item-26 .item-content-ass img{
    width: 100%;
    max-width: 1800px;
    height: 100%;
}
.items-hp h6{
  font-size: 1.4rem;
  font-weight: 400;
 letter-spacing: 0.09;
  padding: 1% 5%;
  width: 60%;
  color: #f0f8ff;
  background: #140900;
  text-decoration: none;
  position: absolute;
  vertical-align: middle;
  /*border-radius: 0px 60px 0px 0px;*/
  bottom: 0;
  padding: 10px;
}
.items-hp h6::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #ff7500;
    mix-blend-mode: multiply;
}
.item-26 .item-text-ass{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    background: #140900;
}
  
.item-26 .item-text-ass h1{
    font-size: 2rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inherit;
    position: relative;
    background: linear-gradient(to right, #401D00 2%, transparent 35%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom;
    }
    .item-26 .item-text-ass p{
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/* END ASSETS SECTION ITEM-26*/

/* ANIMATION SECTION ITEM-27 ITEM-28*/
.item-27 .item-anim-text {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: #140900;
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-27 .item-anim-text h1{
    font-size: 2rem;
    text-align: left; 
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #401D00 2%, transparent 35%);  
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom; 
    }
.item-27 .item-anim-text p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}

.item-28 .item-content-ANIM {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   overflow: hidden;
   margin: 20px auto 20px;
}
.item-28 .item-content-ANIM video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background: #140900;
 filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-28 .item-content-ANIM h1{
    font-size: 2rem;
    padding: 15px;
 border-bottom: 10px solid;
    border-image-source: radial-gradient(circle at top left, #401d00, transparent 20%);
    border-image-slice: 1; 
    /*background: hsl(43, 84%, 6%);*/
}
.item-28 .item-content-ANIM h6{
    font-size: 1.7rem;
    padding: 15px;
    position: relative;
    
}
.item-28 .item-content-ANIM p{
    background: #140900;
    font-size: 1.4rem;
    text-align: justify;
    padding: 15px;
}
/* END ANIMATION SECTION ITEM-27 ITEM-28*/



