body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f4f4f4;
}

.pdf-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
}

/* Default PDF for larger screens */
@media (min-width: 768px) {
    .pdf-container iframe {
        content: url('Tomas_Dulkys_CV.pdf');
    }
}

/* Mobile-optimized PDF for smaller screens */
@media (max-width: 767px) {
    .pdf-container iframe {
        content: url('Tomas_Dulkys_CV_2025_mobile.pdf');
    }
}
