@import url('http://fonts.cdnfonts.com/css/roboto');
*{
    margin: 0;
    padding: 0;
     font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html, body{
    background: #13151a;
    height: 100vh;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: ;
}
ul {
    list-style-type: disc;
}
p{
    font-weight: 400;
    font-size: 1.4rem;
}
h1{
    font-weight: 750;
    font-size: 1.3rem;
}
h2{
    font-weight: 800;
}
h5{
    font-weight: 500;
    font-size: 1.7rem;
}
h6{
    font-weight: 400;
}
img, video{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
    border-radius: 4px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #14151A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #736B74;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9F94A1;
}

.container-p3{
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(86, auto-fill);
    justify-content: center;
    /*grid-gap: 10px 10px;*/
    scroll-snap-type: y mandatory;
    margin-left: 0;
}
#button {
  display: inline-block;
  background: linear-gradient(to right, #736B74 0%, #958B96 68%, #B2A7B3 100%);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 90px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  
}
#button:hover {
  cursor: pointer;
  box-shadow:0px 1px 7px 0px #f5f7f6;
  color: #f5f7f6;
}
#button:active {
  background: #736B74;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
 .item{
    background-color: transparent;
    display: block;
    width: 100%;
    max-width: 1400px;
    letter-spacing: 0.09rem;
    line-height: 1.5;
    scroll-snap-align: start;
    overflow-x: hidden;
    margin: auto;
    padding: 10px 20px 20px;
    position: relative;
    align-content: center;
    text-align: left;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.item-1{
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    padding: 0;
}
.item-2{
    grid-column: 3 / 7;
    grid-row: 2 / 5;
    background-color: #C7A76F;
    padding: 0;
}
.item-3{
    grid-column: 3 / 7;
    grid-row: 5 / 7;
    background-color: #C7A76F;
}
.item-4{
    grid-column: 3 / 7 ;
    grid-row: 7 / 10;
    background-color: #555F3A;
}
.item-5{
    grid-column: 3 / 7;
    grid-row: 10 / 14;
    background-color: #85818E;
    margin-top: 20px;
}
.item-6{
    grid-column: 3 / 7;
    grid-row: 22 / 25;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-7{
    grid-column: 3 / 7;
    grid-row: 25 / 30;
    background-color: #85818E;
    overflow: hidden;
}
.item-8{
    grid-column: 3 / 7;
    grid-row: 30 / 51;
    background-color: #85818E;
}
.item-9{
    grid-column: 3 / 7;
    grid-row: 51 / 60;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-10{
    grid-column: 3 / 7;
    grid-row: 60 / 65;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-11{
    grid-column: 3 / 7;
    grid-row: 65 / 70;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-12{
    grid-column: 3 / 7;
    grid-row: 70 / 77;
    background-color: #85818E;
     margin-bottom: 20px;
}
.item-13{
    grid-column: 3 / 7;
    grid-row: 77 / 79;
    background-color:#85818E;
}
.item-14{
    grid-column: 3 / 7;
    grid-row: 79 / 81;
    background-color: #85818E;
}
.item-15{
    grid-column: 3 / 7;
    grid-row: 81 / 83;
    background-color: #85818E;
}
.item-16{
    grid-column: 3 / 7;
    grid-row: 83 / 85;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-17{
    grid-column: 3 / 7;
    grid-row: 85 / 87;
    background-color: #85818E;
}
.item-18{
    grid-column: 3 / 7;
    grid-row: 87 / 89;
    background-color: #85818E;
}
.item-19{
    grid-column: 3 / 7;
    grid-row: 89 / 91;
    background-color: #85818E;
}
.item-20{
    grid-column: 3 / 7;
    grid-row: 91 / 93;
    background-color: #85818E;
}
.item-21{
    grid-column: 3 / 7;
    grid-row: 93 / 95;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-22{
    grid-column: 3 / 7;
    grid-row: 95 / 97;
    background-color: #85818E;
}
.item-23{
    grid-column: 3 / 7;
    grid-row: 97 / 100;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-24{
    grid-column: 3 / 7;
    grid-row: 100 / 102;
    background-color: #85818E;
}
.item-25{
    grid-column: 3 / 7;
    grid-row: 102 / 104;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-26{
    grid-column: 3 / 7;
    grid-row: 104 / 106;
    background-color: #85818E;
}
.item-27{
    grid-column: 3 / 7;
    grid-row: 106 / 108;
    background-color: #85818E;
}
.item-28{
    grid-column: 3 / 7;
    grid-row: 108 / 110;
     margin-top: 50px;
}
/* For Responsive Device */
@media screen and (max-width: 1050px){
    .container-p3{
        display: block;
    }
    .item{
        height: auto;
        overflow: hidden;
        padding: 10px;
    } 
    .item-1{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0;
    }
    .item-1 .item-title  h1{
    font-size: 2rem;
    }
     .item-2{
    padding: 0;
    }
    .item-tablecontents{
    padding-top: 10px;
    }
     .item-19{
    padding: 20px;
    }
    .item-19 .item-text{
    padding-left: 0;
    padding-right: 0;
    }
    .item-20{
    padding: 20px;
    }
    .item-20 .item-text{
    padding-left: 0;
    padding-right: 0;
    }
}  
/* FACE SECTION item-1 till item-11*/
.item-title{
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    padding: 0;
}  
@media screen and (max-width: 1050px){
 .item-title{
        max-width: 100%;
    }
} 
.item-title h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: left; 
    justify-content: left;
    align-items: center;
    display: flex;
    letter-spacing: 0.001em;
    color: #A196A1;
    height: 100%;
    width: 100%;
    z-index: 100;
}  
.item-2 img{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
    filter: none;
}
.item-3 .item-brief h1{
    padding-top: 5px;
}
.item-software ul li {
    display: inline;
    margin-inline-end: 1em;
    text-align: left;
    float: left;
    font-size: 1.4rem;
}
.item-tablecontents{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: justify;
    line-height: 35px;
    -webkit-columns: 300px 3;
    -moz-columns:  300px 3;
    columns: 300px 4;
    -webkit-colummn-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 100px;
    display: block;
}
.item-tablecontents h1{
    font-size: 2rem;
    font-weight: 600;
    color: #14151e;
}
.item-tablecontents2{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: justify;
    line-height: 35px;
    -webkit-columns: 300px 3;
    -moz-columns:  300px 3;
    columns: 300px 4;
    -webkit-colummn-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 100px;
    display: block;
    float: right;
}
.item-tablecontents2 a{
    color: #14151A;
}
.item-tablecontents2 a:hover{
    color: #5BC0DE;
}
.item-tablecontents2 a:active{
    color: #5BC0DE;
    text-decoration: line-through;
}
/* END FACE SECTION item-1 till item-5*/

/* IDEA SECTION item-5*/
.item-text{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
}
.item-text h1{
    font-weight: 550;
    font-size: 2rem;
    text-align: left; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}
.item-text h5{
    font-size: 1.7rem;
    text-align: left; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.item-text p{
    text-align: left; 
    justify-content: center;
    align-items: center;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative;
}

/*MODEL DEVELOPMENT SECTION*/
.item-execution {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-weight: 400;
}
.item-execution img{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: #424242;
    float: right;
}
.item-execution h5{
    font-weight: 500;
}
.item-execution p{
    font-weight: 400;
    font-size: 1.4rem;
    text-align: justify;
}
/* END MODEL DEVELOPMENT SECTION*/

/* TEXTURING SECTION*/
.item-texturing {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-weight: 400;
}
.item-texturing img{
    width: 100%;
    max-width: 600px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: #424242;
    float: right;
}
.item-texturing video{
    width: 100%;
    max-width: 600px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
}
.item-texturing h5{
    font-weight: 500;
}
.item-texturing p{
    font-weight: 400;
    font-size: 1.4rem;
    text-align: justify;
    padding-bottom: 0px;
}
/*END TEXTURING SECTION*/

.slideshow-container  {
    top: 10%;
    left: 0;
    right: 0;
    bottom: ;
    max-width: 1400px;
    height: auto;
    position: relative;
    margin: 0px 15px 20px 15px;
    padding-top: 10px;
    display: block;
    overflow: hidden;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
}
@media screen and (max-width:950px){
   .slideshow-container {
     margin: 0px 10px 20px 10px;
     height: auto;
    }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #14151e;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(79, 80, 86);
  scale: 1.5;
}
.next:active{
     color: #f5f7f6;
    box-shadow:0px 1px 7px 0px #f5f7f6;
    transform: translateX(40px);
}
.prev:active{
     color: #f5f7f6;
    box-shadow:0px 1px 7px 0px #f5f7f6;
    transform: translateX(-40px);
}

/* Caption text */
.image-title {
font-size: 2rem;
font-weight: 100;
color: #E0C497;
position: absolute;
bottom: 2rem;
left: 0;
right: 0;
float: left;
margin: 0 auto;
padding-left: 40px;
text-align: left;
}

.image-title {
-webkit-animation: fade-in 1s;
-moz-animation: fade-in 1s;
animation: fade-in 1s;
}

@-webkit-keyframes fade-in {
0% { opacity: 0; transform: scale(0); }
100% { opacity: 1; transform: scale(1); }
}
@-moz-keyframes fade-in {
0% { opacity: 0; transform: scale(0); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes fade-in {
0% { opacity: 0; transform: scale(0); }
100% { opacity: 1; transform: scale(1); }
}


@media screen and (max-width: 600px){
  .image-title{
     width: 100%;
     font-size: .9rem;
     bottom: 1rem;
     justify-content: center;
       text-align: left;
     padding-left: 10px;
    }
}
.image-title p{
    font-size: 1.5rem;
}
@media screen and (max-width: 600px){
  .image-title p{
     font-size: 0.7rem;
    }
}

.thumbnail2 {
    width: 170px;  /* Set appropriate width */
    cursor: pointer;
    background-color: blue;
    margin: 2px;
    opacity: 0.6; /* Slight opacity for non-active thumbnails */
    transition: opacity 0.3s, transform 0.3s; /* Include transform for scaling effect */
}

.thumbnail2:hover {
    opacity: 1; /* Full opacity on hover */
}

.thumbnail2.active {
    outline: 0.2em solid var(--active-color);
    opacity: 1;
    transform: scale(1.1); /* Scale up the active thumbnail */
}
/* Responsive styles */
@media (max-width: 1040px) {
    .thumbnail2 {
        width: 10px; /* Smaller size for smaller devices */
        height: 10px; /* Maintains the aspect ratio */
        opacity: 0.6; /* Slight opacity for non-active thumbnails */
        border-radius: 50%; /* Make thumbnails circular */
        display: inline-block; /* Display inline for a dot-like effect */
        margin: 2px; /* Spacing between dots */
          filter: none;
    }
    
    .thumbnail2.active {
        width: 12px; /* Slightly larger active dot */
        height: 12px; /* Maintain circular shape */
        border: none; /* Remove border for active dot */
        background-color: #f00; /* Use background color for active state */
    }

    /* Hide images on smaller devices */
    .thumbnail2 img {
        display: none; /* Hide images to show only dots */
    }
}
  

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.item-video video{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #3F3F3F;
}
.item-img {
   position: relative;
   width: 100%;
   max-width: 1400px;
   justify-content: center;
   align-items: center;
   text-align: left;
   overflow: hidden;
   
}
.item-img video{
    width: 100%;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
    background-color: #424242;
}

.item-14 .image-title{
    color: #263a13;
   
}

.item-14 .item-text {
    list-style-type: none;
}
.item-14 .item-text p{
    font-weight: 400;
    font-size: 1.4rem;
}
.item-14 .item-text ul{
    padding-left: 1.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 95%;
}
.item-14 .item-text li::marker{
    color: #14151e;
}
.item-14 .item-text ul li::marker{
    content: "■";
}

.item-24 .item-img1 {
    position: relative;
    width: 100%;
    max-width: 1320px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #4E2A1C;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .item-24 .item-img1 {
        display: flex;
        flex-direction: column; /* Stack video containers on mobile */
        overflow-x: auto; /* Enable horizontal scrolling */
        scrollbar-width: thin; /* Firefox scrollbar style */
    }

    .item-24 .item-img1 .video-container {
        width: 300px; /* Set width for mobile */
        height: 500px; /* Set height for mobile */
        flex: 0 0 auto; /* Prevent flex shrink of video containers */
    }

    .item-24 .item-img1 video {
        width: 100%; /* Ensure video occupies full width of the container */
        height: 100%; /* Ensure video occupies full height of the container */
    }
}

.item-24 .item-img1 .video-container {
    position: relative;
    margin: 1em;
    overflow: hidden;
}

.item-24 .item-img1 video {
    background-color: #E2CFCF;
    border-radius: 5px;
    padding: 1em;
    margin: 0;
    object-fit: cover;
    cursor: pointer;
}

.item-24 .item-img1 .video-container:nth-child(1) {
    transform: rotate(-8deg);
}

.item-24 .item-img1 .video-container:nth-child(2) {
    transform: rotate(2deg);
}

.item-24 .item-img1 .video-container .video-description {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #E0C497;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
}

.item-24 .item-img1 video::-webkit-media-controls {
    display: none;
}

/* FOOTER ITEM-28*/ 
.item-28 .copy {
  height: auto;
  line-height: 100px;
  color: #85818E;
  text-align: center;
  background-color:  #14151A;
  border-block-start: 1px solid;
  padding-block-end: 1px solid;
  border-image-source: linear-gradient(90deg, transparent 20%, #85818E, transparent 80%);
  border-image-slice: 1;
}
@media screen and (max-width: 48em) {
    .item-28 .copy{
        line-height: 15px;
        background-color: #14151A;
        border-image-source: linear-gradient(90deg, transparent 10%, #85818E, transparent 90%);
        margin-bottom: 20px;
    }
}
.item-28 .copy p {
  display: inline-block;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
   font-size: 15px;
}
@media screen and (max-width: 48em) {
    .item-28 .copy p{
      display: block;
      margin-top: 10px;
 
    }
}














