@import url('http://fonts.cdnfonts.com/css/roboto');
*{
    margin: 0;
    padding: 0;
    font-family: 'Caligna DEMO', sans-serif;
    box-sizing: border-box;
}
html, body{
    background: #13151a;
    height: 100vh;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: ;
}
ul {
    list-style-type: disc;
}
p{
    font-weight: 400;
    font-size: 1.4rem;
}
h1{
    font-weight: 750;
    font-size: 1.3rem;
}
h2{
    font-weight: 800;
}
h5{
    font-weight: 500;
    font-size: 1.7rem;
}
h6{
    font-weight: 400;
}
img, video{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
    border-radius: 4px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #14151A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #736B74;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9F94A1;
}

.container-p2{
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(86, auto-fill);
    justify-content: center;
    /*grid-gap: 10px 10px;*/
    scroll-snap-type: y mandatory;
    margin-left: 0;
}
#button {
  display: inline-block;
  background: linear-gradient(to right, #736B74 0%, #958B96 68%, #B2A7B3 100%);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 90px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  
}
#button:hover {
  cursor: pointer;
  box-shadow:0px 1px 7px 0px #f5f7f6;
  color: #f5f7f6;
}
#button:active {
  background: #736B74;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
 .item{
    background-color: transparent;
    display: block;
    width: 100%;
    max-width: 1400px;
    letter-spacing: 0.09rem;
    line-height: 1.5;
    scroll-snap-align: start;
    overflow-x: hidden;
    margin: auto;
    padding: 10px 20px 20px;
    position: relative;
    align-content: center;
    text-align: left;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.item-1{
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    padding: 0;
}
.item-2{
    grid-column: 3 / 7;
    grid-row: 2 / 5;
    background-color: rgb(92,97,110, .9);
    padding: 0;
}
.item-3{
    grid-column: 3 / 7;
    grid-row: 5 / 7;
    background-color: rgb(92,97,110, .9);
}
.item-4{
    grid-column: 3 / 7;
    grid-row: 7 / 10;
    background-color: #5C616E;
}
.item-5{
    grid-column: 3 / 7;
    grid-row: 10 / 14;
    background-color: #85818E;
    margin-top: 20px;
}
.item-6{
    grid-column: 3 / 7;
    grid-row: 22 / 25;
    background-color: #85818E;
}
.item-7{
    grid-column: 3 / 7;
    grid-row: 25 / 30;
    background-color: #85818E;
    overflow: hidden;
}
.item-8{
    grid-column: 3 / 7;
    grid-row: 30 / 51;
    background-color: #85818E;
}
.item-9{
    grid-column: 3 / 7;
    grid-row: 51 / 60;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-10{
    grid-column: 3 / 7;
    grid-row: 60 / 65;
    background-color: #85818E;
}
.item-11{
    grid-column: 3 / 7;
    grid-row: 65 / 70;
    background-color: #85818E;
    margin-top: 20px;
}
.item-12{
    grid-column: 3 / 7;
    grid-row: 70 / 77;
    background-color: #85818E;
}
.item-13{
    grid-column: 3 / 7;
    grid-row: 77 / 79;
    background-color:#85818E;
}
.item-14{
    grid-column: 3 / 7;
    grid-row: 79 / 81;
    background-color: #85818E;
    margin-bottom: 20px;
}
.item-15{
    grid-column: 3 / 7;
    grid-row: 81 / 83;
    background-color: #85818E;
}
.item-16{
    grid-column: 3 / 7;
    grid-row: 83 / 85;
    background-color: #85818E;
}
.item-17{
    grid-column: 3 / 7;
    grid-row: 85 / 87;
    background-color: #85818E;
}
.item-18{
    grid-column: 3 / 7;
    grid-row: 87 / 89;
    background-color: #85818E;
}
.item-19{
    grid-column: 3 / 7;
    grid-row: 89 / 91;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #85818E;
    justify-content: center;
    align-items: center;
}
.item-20{
    grid-column: 3 / 7;
    grid-row: 91 / 93;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #85818E;
    justify-content: center;
    align-items: center;
}
.item-21{
    grid-column: 3 / 7;
    grid-row: 93 / 95;
    margin-top: 15px;
    background-color: #85818E;
}
.item-22{
    grid-column: 3 / 7;
    grid-row: 95 / 97;
    margin-top: 15px;
    background-color: #85818E;
}
.item-23{
    grid-column: 3 / 7;
    grid-row: 97 / 100;
    background-color: #85818E;
}
.item-24{
    grid-column: 3 / 7;
    grid-row: 100 / 102;
    background-color: #85818E;
    margin-top: 15px;
}
.item-25{
    grid-column: 3 / 7;
    grid-row: 102 / 104;
    margin-top: 50px;
}
.item-36{
    grid-column: 3 / 7;
    grid-row: 104 / 106;
    background-color: black;
    margin-top: 15px;
}
.item-37{
    grid-column: 3 / 7;
    grid-row: 106 / 108;
    background-color: black;
    margin-top: 1px;
}
.item-38{
    grid-column: 3 / 7;
    grid-row: 108 / 110;
    background-color: black;
}
/* For Responsive Device */
@media screen and (max-width: 1050px){
    .container-p2{
        display: block;
    }
    .item{
        height: auto;
        overflow: hidden;
        padding: 10px;
    } 
    .item-1{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0;
    }
    .item-1 .item-title  h1{
    font-size: 2rem;
    }
     .item-2{
    padding: 0;
    }
    .item-tablecontents{
    padding-top: 10px;
    }
     .item-19{
    padding: 20px;
    }
    .item-19 .item-text{
    padding-left: 0;
    padding-right: 0;
    }
    .item-20{
    padding: 20px;
    }
    .item-20 .item-text{
    padding-left: 0;
    padding-right: 0;
    }
}  
/* FACE SECTION item-1 till item-11*/
.item-title{
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    padding: 0;
}  
@media screen and (max-width: 1050px){
 .item-title{
        max-width: 100%;
    }
} 
.item-title h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: left; 
    justify-content: left;
    align-items: center;
    display: flex;
    letter-spacing: 0.001em;
    color: #A196A1;
    height: 100%;
    width: 100%;
    z-index: 100;
}  
.item-2 video{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
    filter: none;
}
.item-3 .item-brief h1{
    padding-top: 5px;
}
.item-software ul li {
    display: inline;
    margin-inline-end: 1em;
    text-align: left;
    float: left;
    font-size: 1.4rem;
}
.item-tablecontents{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: justify;
    line-height: 35px;
    -webkit-columns: 300px 3;
    -moz-columns:  300px 3;
    columns: 300px 4;
    -webkit-colummn-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 100px;
    display: block;
}
.item-tablecontents h1{
    font-size: 2rem;
    font-weight: 600;
    color: #14151e;
}
.item-tablecontents2{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: justify;
    line-height: 35px;
    -webkit-columns: 300px 3;
    -moz-columns:  300px 3;
    columns: 300px 4;
    -webkit-colummn-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 100px;
    display: block;
    float: right;
}
.item-tablecontents2 a{
    color: #14151A;
}
.item-tablecontents2 a:hover{
    color: #5BC0DE;
}
.item-tablecontents2 a:active{
    color: #5BC0DE;
    text-decoration: line-through;
}
/* END FACE SECTION item-1 till item-5*/

.item-img{
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.item-video-p1 video{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.item-text{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
}
.item-text h1{
    font-weight: 550;
    font-size: 2rem;
    text-align: left; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}
.item-text h5{
    font-size: 1.7rem;
    text-align: left; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.item-text p{
    text-align: left; 
    justify-content: center;
    align-items: center;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: relative;
}

/* RENDERS SECTION item-19*/
.item-image-slider {
    display: flex;
    flex-flow: column;
    width: clamp(1320px, 96vw, 200px);
    width: 100%;
    max-width: 1320px;
    aspect-ratio: 16 / 9;
    min-height: 300px;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
    container-type: inline-size;
    contain: content;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 2px 4px,
        rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 16px,
        rgba(0, 0, 0, 0.15) 0px 16px 32px;
}
.slider__content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.slider-control--button {
    border: 0;
    background: 0;
    outline: 0;
    cursor: pointer;
    place-content: center;
    padding-inline: 3vw;
    z-index: 1;
    display: grid;
}
.icon {
    height: 3rem;
    width: 3rem;
    color: #736B74;
    border-radius: 50%;
    opacity: 0.2;
}
.slider-control--button:where(:hover) {
    ;
    .icon {
         color: #736B74;
         opacity: 1;
         transition: transform 0.6s ease-out;
        }
}
.slider-control--button:active {
    
.icon.arrow-left-circle{
    color: #f5f7f6;
    box-shadow:0px 1px 7px 0px #f5f7f6;
    transform: translateX(-40px);
     }
}
.slider-control--button:active {
  
.icon.arrow-right-circle{
    color: #f5f7f6;
    box-shadow:0px 1px 7px 0px #f5f7f6;
    transform: translateX(40px);
    }
}

.prev-button {
    --position: left;
}
.next-button {
    --position: right;
}
.image-display {
    position: fixed;
    inset: 0;
}
.slider-navigation {
    z-index: 10;
   position: absolute;

bottom: -20px;
padding: .5rem;
display: flex;
justify-content: center;
  background-color: #e5e5e5;
place-content: center;
    left: 50%;
    backdrop-filter: blur(6px);
   width: ;
     gap: 1.25rem;
      align-content: center;
       width: clamp(300px, 96vw, 200px);
      transform: translate(-50%,-50%);
}
.nav-button {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 0;
    aspect-ratio: 16 / 9;
    transition: filter 150ms linear, scale 266ms ease;
}
.thumbnail {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.nav-button[aria-selected="true"] {
    scale: 1.1;
}
.nav-button[aria-selected="true"],
.nav-button:focus-visible {
    outline: 0.2em solid var(--active-color);
    outline-offset: 0.2em;
}
.nav-button[aria-selected="false"] {
    filter: opacity(0.7);
}
.nav-button[aria-selected="false"]:where(:hover, :focus-visible) {
    filter: opacity(1);
}

@container (max-width: 660px) {
    .nav-button:not(:has(img)) {
        background-color: rgb(241, 235, 232);
    }
    .slider-navigation {
        display: flex;
        justify-content: center;
        padding-block: 1.5em;
    }
    .nav-button {
        inline-size: 0.625rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }
    .nav-button > .thumbnail {
        display: none;
    }
    .nav-button[aria-selected="true"] {
        background-color: #736B74 ;
        scale: 1.5;
    }
    .slider-control--button {
        display: none;
    }
    .icon {
        height: 1.5rem;
        width: 1.5rem;
        display: none;
    }
}
/* END RENDERS SECTION item-19*/




/* FOOTER ITEM-25*/ 
.item-25 .copy {
  height: auto;
  line-height: 100px;
  color: #85818E;
  text-align: center;
  background-color:  #14151A;
  border-block-start: 1px solid;
  padding-block-end: 1px solid;
  border-image-source: linear-gradient(90deg, transparent 20%, #85818E, transparent 80%);
  border-image-slice: 1;
}
@media screen and (max-width: 48em) {
    .item-25 .copy{
      line-height: 15px;
      background-color: #14151A;
      border-image-source: linear-gradient(90deg, transparent 10%, #85818E, transparent 90%);
      margin-bottom: 20px;
    }
}
.item-25 .copy p {
  display: inline-block;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
   font-size: 15px;
}
@media screen and (max-width: 48em) {
    .item-25 .copy p{
      display: block;
      margin-top: 10px;
 
    }
}














